<h1>
  WS Listener
  <button (click)="clear()">CLEAR</button>
</h1>
<div>
  <fieldset>
    <legend>Add new listener:</legend>
    ObjectID: <input type="text" [(ngModel)]="objectId"><br>
    <button (click)="addNewListener()">ADD</button>
  </fieldset>
</div>
<div>
  <h2>Parameters by ID WS Value:</h2>
  <code *ngFor="let item of listeners">
    <h4>ObjectId: {{ item.objectId }}</h4>
    <pre>{{ item.data | json }}</pre>
  </code>
</div>
<div>
  <h2>AI WS Value:</h2>
  <code>
    <pre *ngFor="let item of ai">{{ item | json }}</pre>
  </code>
</div>
<div>
  <h2>Weather WS Value:</h2>
  <code>
    <pre *ngFor="let item of weather">{{ item | json }}</pre>
  </code>
</div>
<div>
  <h2>Parameters WS value:</h2>
  <code *ngFor="let item of parameters">
    <pre>{{ item | json }}</pre>
  </code>
</div>
<div>
  <h2>Global WS value:</h2>
  <code>
    <pre *ngFor="let item of global">{{ item | json }}</pre>
  </code>
</div>
<div>
  <h2>Events WS value:</h2>
  <code>
    <pre *ngFor="let item of events">{{ item | json }}</pre>
  </code>
</div>
